.loading {
    text-align: center;
    animation: loading 1.2s ease-in-out infinite;
    font-size: 40px;
    font-weight: 600;
}
@keyframes loading {
    0% {
        color: #959191;
    }
    50% {
        color: #f47005;
    }
    100% {
        color: #959191;
    }
}